drupalphp53web:
  build: .
  ports:
    - "81:80"
  links:
   - drupalphp53db:database
drupalphp53db:
  image: mysql:5.5
  volumes_from:
    - mysql-drupal-php53
  environment:
    TERM: xterm
    MYSQL_ROOT_PASSWORD: password
    MYSQL_USER: user
    MYSQL_PASSWORD: password
    MYSQL_DATABASE: drupalphp53
